@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Novacento-wide";
  src: url("./fonts/Novecento\ WideMedium.otf") format("opentype");
  font-family: "Novacento-bold";
  src: url("./fonts/Novecento\ UltraBold.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray700: #374151;
  --gray800: #1f2a37;
  --gray900: #111928;
  --red: rgb(238, 68, 68);
  --white: #fff;
  --nova-wide: "Novacento-wide";
  --roboto: "Roboto";
  --nova-bold: "Novacento-bold";
  --nunito: "Nunito Sans";
}

body {
  background-color: var(--gray50);
  font-family: var(--roboto), sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-top: 40px;
  max-width: 1400px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: 1/2/1/2;
}

.hidden {
  display: none;
}

/* header */

ul {
  list-style: none;
  font-family: var(--nova-wide), sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--gray900);
  display: flex;
  flex-direction: column;
  gap: 56px;
  cursor: pointer;
}

li:hover {
  color: var(--gray500);
}

.line {
  width: 0.6992px;
  height: 176px;
  background-color: var(--gray900);
  margin-left: 46px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 56px;
  position: fixed;
  top: 40px;
  left: 40px;
}

/* hero section */

#hero-video {
  position: absolute;
  top: 0px;
  width: 100%;
  border-radius: 20px;
  height: auto;
  overflow-x: hidden;
  z-index: -20;
}

.separator-1 {
  width: 80%;
  height: 50px;
  background-color: var(--gray50);
  position: absolute;
  right: 0;
  top: 440px;
  z-index: 10;
  border-radius: 100px 60px 0 0;
  box-shadow: -10px -20px 20px rgba(0, 0, 0, 0.2);
}

#curv {
  position: absolute;
  top: 440px;
  z-index: 12;
  left: 100px;
}
.separator {
  width: 100%;
  height: 140px;
  background-color: var(--gray50);
  position: absolute;
  top: 476px;
  border-radius: 40px 0 0 0;
  z-index: 3;
  box-shadow: -20px -10px 20px rgba(0, 0, 0, 0.05);
}

.video-bg {
  position: relative;
}

.hero {
  grid-area: 1/2;
  position: relative;
  height: 600px;
  z-index: -10;
}

h1 {
  font-family: var(--nova-bold), sans-serif;
  letter-spacing: 4px;
  font-size: 72px;
  color: var(--white);
  z-index: 1;
  position: absolute;
  margin-left: 100px;
  top: 140px;
  opacity: 0.9;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.3;
}

.hero-span {
  font-family: var(--roboto), sans-serif;
  font-size: 48px;
  font-weight: 500;
  opacity: 0.9;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.filled {
  font-family: var(--roboto), sans-serif;
  color: var(--gray900);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3008px;
  background-color: rgba(243, 244, 246, 0.8);
  border-radius: 8px;
  border: 1.5008px solid var(--gray100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 24px 16px 30px;
  z-index: 10;
  position: absolute;
  top: 360px;
  margin-left: 100px;
  cursor: pointer;
}

/* ventures */

h2 {
  font-size: 50px;
  font-family: var(--nova-wide);
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: var(--gray900);
}

.subhead {
  font-family: var(--roboto), sans-serif;
  color: var(--gray700);
  font-size: 24px;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 16px 24px;
}

.venture-text {
  margin-top: 24px;
  text-align: center;
}

/* venture-slider */

.brand-tabs {
  margin: 80px 0 0 40px;
  width: 90%;
  display: flex;
  gap: 140px;
  align-items: center;
  cursor: pointer;
  overflow: auto;
}

.slider-img1 {
  border-radius: 4px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.2) 67.63%
    ),
    url(./asset/blue-medicint.png) lightgray 50% / cover no-repeat;
  max-width: 1229px;
  height: 580px;
  border-radius: 4px;
  overflow: hidden;
}
.slider-img2 {
  border-radius: 4px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/pancake.jpg) lightgray 50% / cover no-repeat;
  max-width: 1229px;
  height: 580px;
  border-radius: 4px;
  overflow: hidden;
}

.slider-img3 {
  border-radius: 4px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/party.jpg) lightgray 50% / cover no-repeat;
  max-width: 1229px;
  height: 580px;
  border-radius: 4px;
  overflow: hidden;
}

.slider-img4 {
  border-radius: 4px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/event.jpg) lightgray 50% / cover no-repeat;
  max-width: 1229px;
  height: 580px;
  border-radius: 4px;
  overflow: hidden;
}

.slider-img5 {
  border-radius: 4px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/edge.jpg) lightgray 50% / cover no-repeat;
  max-width: 1229px;
  height: 580px;
  border-radius: 4px;
  overflow: hidden;
}

#next,
#previous {
  border: 1px solid rgb(220, 220, 220);
  background-image: radial-gradient(var(--white), rgb(236, 241, 252));
  border-radius: 100%;
  padding: 24px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05), 1px 0px 10px rgba(0, 0, 0, 0.04);
}
.move {
  display: flex;
  padding: 24px 40px;
  justify-content: space-between;
}

h3 {
  font-size: 40px;
  font-family: var(--nunito);
  color: var(--gray50);
}

.opac-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.3008px;
  background-color: rgba(243, 244, 246, 0.2);
  border-radius: 2px;
  border: 1.5008px solid var(--gray100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 24px 16px 30px;
  cursor: pointer;
}

.opac-btn:hover {
  background-color: rgba(243, 244, 246, 0.6);
  color: var(--gray900);
}

.logo-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 200px 0 0 40px;
}

#tab-bar2 {
  margin-left: 240px;
}

#tab-bar3 {
  margin-left: 490px;
}

#tab-bar4 {
  margin-left: 730px;
}

#tab-bar5 {
  margin-left: 980px;
}

.slider-wrapper {
  position: relative;
  max-width: 1229px;
  overflow-x: hidden;
}

/* about section */

article {
  margin-top: 100px;
  position: relative;
}

#about-tab {
  width: 420px;
}

.top-left {
  background-image: url("./asset/building1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 60%;
  height: 525px;
  border-radius: 4px;
}

#about-h2 {
  position: absolute;
  top: -14px;
}

.top-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lead {
  font-family: var(--nunito), sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--gray800);
  letter-spacing: 1.3008px;
}

.about-text {
  font-family: var(--roboto), sans-serif;
  font-size: 20px;
  color: var(--gray500);
  line-height: 32px;
  font-weight: 300;
}

.first-article {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.bottom-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bottom-right {
  width: 40%;
  height: 523px;
  background-image: url("./asset/building-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px;
}

/* meet our team */

#wassim {
  width: 33%;
  height: 400px;
  background-image: url("./asset/low\ DSC00199.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
}

#layla {
  width: 33%;
  height: 400px;
  background-image: url("./asset/business\ woman1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
}

#hassan {
  width: 33%;
  height: 400px;
  background-image: url("./asset/business\ man2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
}

.name {
  font-family: var(--roboto), sans-serif;
  font-size: 32px;
  letter-spacing: 1.4px;
  color: var(--gray900);
  font-weight: 600;
  margin: 24px 0px;
}

.title {
  font-family: var(--roboto), sans-serif;
  font-size: 24px;
  color: var(--gray700);
}

.team-card {
  border-bottom: 0.5008px solid var(--gray400);
  border-radius: 4px;
  padding-bottom: 24px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team-grid {
  display: flex;
  gap: 16px;
  margin: 80px 0 100px 0;
}

#meet-h2 {
  text-align: center;
}

/* our values */

.card-stack {
  position: relative;
}

.value-items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 366px;
}

.item {
  font-family: var(--roboto), sans-serif;
  font-size: 32px;
  letter-spacing: 1.5008px;
  color: var(--gray800);
  font-weight: 400;
  padding: 0 10px 10px 0;
  border-bottom: 1px solid var(--gray900);
  cursor: pointer;
}

.item2 {
  font-family: var(--roboto), sans-serif;
  font-size: 32px;
  letter-spacing: 1.5008px;
  color: var(--gray400);
  font-weight: 400;
  padding: 0 10px 10px 0;
  border-bottom: 1px solid var(--gray900);
  cursor: pointer;
}

.item:hover,
.item2:hover {
  color: var(--gray900);
}

.value-card {
  background-image: url("./asset/mark-only.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 110% 20%;
  background-blend-mode: soft-light;
  max-width: 1347px;
  height: 396px;
  background-color: var(--gray900);
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.value-card2 {
  background-image: url("./asset/mark-only.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 110% 20%;
  background-blend-mode: soft-light;
  max-width: 1347px;
  height: 396px;
  background-color: var(--gray800);
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.card-text {
  color: var(--white);
  font-family: var(--nunito), sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.outlined-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--gray900);
  letter-spacing: 1.3008px;
  border-radius: 2px;
  border: 1.5008px solid var(--gray100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 24px 16px 30px;
  cursor: pointer;
}

.outlined-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.outlined-btn2 {
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--gray700);
  letter-spacing: 1.3008px;
  border-radius: 2px;
  border: 1.5008px solid var(--gray100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 24px 16px 30px;
  cursor: pointer;
}

.card-text-btn {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

/* .menu-card {
  display: flex;
  margin: 40px 0 160px 0;
} */

.value-card-set {
  display: flex;
  flex-direction: column;
}

.item-cards {
  display: flex;
  margin: 40px 0 160px 0;
}

/* #card-line {
  margin-top: 56px;
  width: 70px;
  border-bottom: 1px solid var(--gray50);
}

#card-line2 {
  width: 70px;
  border-bottom: 1px solid var(--white);
  position: absolute;
  top: 146px;
}

#card-line3 {
  width: 70px;
  border-bottom: 1px solid var(--gray50);
  position: absolute;
  top: 236px;
}

#card-line4 {
  width: 70px;
  border-bottom: 1px solid var(--white);
  position: absolute;
  top: 325px;
} */

#value1 {
  z-index: 12;
  opacity: 1;
}

#value2 {
  display: none;
}

#value3 {
  display: none;
}

#value4 {
  display: none;
}

/* join our team */

.career-header {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 59.13%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./asset/meeting.jpg") lightgray 0px -350.4352px / 100% 316.023% no-repeat;
  height: 260px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px;
  margin-top: 300px;
}

#career-h2 {
  margin-top: -56px;
  font-size: 40px;
}

.career-text {
  font-family: var(--nunito), sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: var(--white);
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.company {
  font-family: var(--roboto), sans-serif;
  font-size: 14px;
  color: var(--gray700);
}

.logo-name {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 80px;
}

.career-title {
  font-family: var(--roboto), sans-serif;
  font-size: 24px;
  letter-spacing: 1.5008px;
  color: var(--gray900);
  height: 40px;
}

.job-description {
  font-family: var(--roboto), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray700);
  margin-top: 24px;
  height: 150px;
}

.tab {
  font-family: var(--roboto), sans-serif;
  font-size: 16px;
  color: var(--gray500);
  border: 1px solid var(--gray500);
  border-radius: 8px;
  padding: 10px;
}

.three-tabs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 32px;
}

.black-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3008px;
  background-color: var(--gray900);
  border-radius: 2px;
  border: 1.5008px solid var(--gray100);
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  padding: 16px 24px 16px 30px;
  cursor: pointer;
}

.black-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 19px;
  transition: all 0.4s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.career-card {
  width: 320px;
  border: 1px solid var(--gray400);
  border-radius: 4px;
  padding: 24px 32px;
}

.career-card:hover {
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px dashed var(--gray400);
}

.career-slider {
  display: inline-flex;
  gap: 24px;
  margin: 40px 24px 100px 0px;
}

.slider-wrapper {
  width: 100%;
  overflow: auto;
  cursor: pointer;
}

/* contact us */

.horizontal-line {
  height: 0.5008px;
  width: 30%;
  background-color: var(--gray400);
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.farhould {
  font-family: var(--nunito), sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: var(--gray800);
  letter-spacing: 1.6px;
  margin-bottom: 32px;
}

.head-office {
  font-family: var(--nunito), sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: var(--gray700);
  margin-top: 10px;
}

.kingdom {
  color: var(--gray500);
  font-size: 20px;
}

.info-left {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 0;
}

.info-text {
  font-family: var(--roboto), sans-serif;
  font-size: 20px;
  color: var(--gray600);
  letter-spacing: 1.2px;
  cursor: pointer;
}

.info-text:hover {
  color: var(--gray500);
}

.icon-text {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.general {
  font-family: var(--roboto), sans-serif;
  font-size: 14px;
  color: var(--gray500);
  margin-bottom: 4px;
}

.info-right {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 40px;
  border-left: 0.5008px solid var(--gray400);
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 80px 0 100px 0;
}

/* contact form */

.specific {
  font-family: var(--roboto), sans-serif;
  font-size: 32px;
  letter-spacing: 1.4px;
  color: var(--gray700);
  margin-top: 40px;
}

.asap {
  font-size: 18px;
  color: var(--gray400);
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-top: 16px;
}

.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

/* contact form */

label {
  font-size: 16px;
  color: var(--gray500);
  letter-spacing: 1.6px;
}

input {
  background-color: var(--white);
  border: 1px solid var(--gray400);
  height: 80px;
  width: 600px;
  padding: 0 24px;
  border-radius: 4px;
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
}

textarea {
  background-color: var(--white);
  border: 1px solid var(--gray400);
  width: 600px;
  height: 160px;
  padding: 24px;
  border-radius: 4px;
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::placeholder {
  color: var(--gray400);
  opacity: 0.4;
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
}

small {
  color: var(--red);
}

.submit-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.3008px;
  background-color: var(--gray900);
  border-radius: 4px;
  max-width: 600px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.05);
  margin: 56px 0 100px 0;
}

.submit-btn:hover {
  background-color: var(--gray700);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#check{
  width: 80px;
  padding: 24px;
  border-radius: 100%;
  background:var(--white);
  border-radius: 100%;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05), 1px 0px 10px rgba(0, 0, 0, 0.04);
  margin-top: -64px;
}

.thanks{
  text-align:center;
  font-size: 20px;
  color: var(--gray500);
  font-family: var(--nova-wide), sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  line-height: 40px;
  margin-top: 24px;
}

.thankyou-modal{
  display: none;
  flex-direction: column;
max-width: 800px;
width: 100%;
padding: 24px 40px;
background: var(--white);
border-radius: 20px;
justify-content: center;
align-items: center;
box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
margin-top: 32px;
}

/* footer */

footer {
  background-color: var(--gray900);
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  align-items: center;
  gap: 24px;
}

.footer-ul {
  color: var(--gray50);
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-menu {
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

.social {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

#footer-logo {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--gray800);
}

/* mobile header */

.mobile-header {
  z-index: 60;
  width: 100%;
  display: none;
  justify-content: space-between;
  padding-bottom: 24px;
  cursor: pointer;
}

.dropdown {
  height: 100vh;
  width: 200px;
  z-index: 400;
  font-size: 14px;
  background-color: var(--white);
  padding: 24px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05), 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#close {
  text-align: right;
  cursor: pointer;
}

/* responsive  */

@media (min-width: 1490px) {
  .separator {
    height: 240px;
  }
  .venture-text {
    margin-top: 120px;
  }
}

@media (max-width: 1280px) {
  .hero {
    height: 500px;
  }

  h1 {
    top: 100px;
    font-size: 50px;
  }
  .filled {
    top: 300px;
  }
  h2 {
    font-size: 48px;
  }
  .separator {
    display: none;
  }
  .separator-1 {
    display: none;
  }
  #curv {
    display: none;
  }

  .logo-txt {
    width: 80%;
  }
}

@media (max-width: 930px) {
  main {
    width: 90%;
  }

  aside {
    grid-area: 1/1/3/3;
  }
  header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
  .tab-vector {
    display: none;
  }

  h3 {
    font-size: 32px;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 50%;
  }

  .card-text {
    font-size: 30px;
    font-weight: 600;
  }
  .horizontal-line {
    display: none;
  }
}

@media (max-width: 700px) {
  main {
    width: 96vw;
  }
  h1 {
    font-size: 38px;
    top: 100px;
  }

  .filled {
    top: 250px;
  }
  .subhead {
    text-align: left;
    font-size: 18px;
  }
  .brand-tabs {
    margin-top: 40px;
    overflow: scroll;
    gap: 32px;
  }
  .top-left {
    background-image: url("./asset/building1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 525px;
    border-radius: 4px;
  }
  .bottom-right {
    display: none;
  }

  #about-h2 {
    position: absolute;
    top: -14px;
  }

  .top-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .lead {
    font-family: var(--nunito), sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--gray800);
    letter-spacing: 1.3008px;
  }

  .about-text {
    font-family: var(--roboto), sans-serif;
    font-size: 20px;
    color: var(--gray500);
    line-height: 32px;
    font-weight: 300;
  }

  .first-article {
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
  }

  .bottom-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .bottom-right {
    width: 100%;
    height: 523px;
    background-image: url("./asset/building-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 4px;
  }

  .team-card {
    width: 100vw;
    align-items: center;
  }
  .team-grid {
    flex-direction: column;
    gap: 40px;
  }

  #wassim,
  #layla,
  #hassan {
    width: 90vw;
    margin: 0 auto;
  }

  .career-slider {
    margin-top: 40px;
  }
  .info-left {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .info-right {
    border-left: none;
    margin: 16px auto;
    padding: 0;
  }
  .item,
  .item2 {
    border-bottom: none;
    font-size: 24px;
  }

  .specific {
    text-align: center;
  }

  .info-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .asap {
    text-align: center;
    width: 80%;
  }
  input {
    width: 90vw;
  }
  textarea {
    width: 90vw;
  }
  .footer-ul {
    display: none;
  }
  footer {
    height: 200px;
  }
}

@media (max-width: 570px) {
  h1 {
    top: 40px;
    font-size: 32px;
  }
  .hero-span {
    font-size: 20px;
  }
  .filled {
    background-color: var(--gray900);
    color: var(--white);
    padding: 24px;
    right: 0;
    font-size: 16px;
    font-weight: 500;
  }
  #hero-icon {
    display: none;
  }
  .hero {
    height: 340px;
  }
  h2 {
    font-size: 30px;
  }

  .subhead {
    display: none;
  }

  .logo-txt {
    padding-top: 100px;
  }
  .slider-img1,
  .slider-img2,
  .slider-img3,
  .slider-img4,
  .slider-img5 {
    height: 440px;
  }

  #value-title {
    text-align: center;
  }

  .value-items {
    width: 100%;
    flex-direction: row;
    overflow: auto;
  }
  .item-cards {
    flex-direction: column;
    gap: 24px;
  }

  #career-h2 {
    margin-top: -100px;
    text-align: center;
  }

  .career-header {
    background: none;
    height: 150px;
  }
  .career-text {
    color: var(--gray700);
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    line-height: 32px;
  }
  .slider-wrapper {
    margin-top: 0px;
  }

  .head-office {
    font-size: 20px;
  }
  .farhould {
    font-size: 28px;
  }

  input {
    height: 56px;
  }
}
