@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Novacento-wide";
  src: url("./fonts/Novecento\ WideMedium.otf") format("opentype");
  font-family: "Novacento-bold";
  src: url("./fonts/Novecento\ UltraBold.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray700: #374151;
  --gray800: #1f2a37;
  --gray900: #111928;
  --red: rgb(238, 68, 68);
  --white: #fff;
  --nova-wide: "Novacento-wide";
  --roboto: "Roboto";
  --nova-bold: "Novacento-bold";
  --nunito: "Nunito Sans";
}

body {
  background-color: var(--gray50);
  font-family: var(--roboto), sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-top: 2.5rem;
  max-width: 87.5rem;
  width: 80%;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: 1/2/1/2;
}

.hidden {
  display: none;
}

/* header */

ul {
  list-style: none;
  font-family: var(--nova-wide), sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--gray900);
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  cursor: pointer;
}

li:hover {
  color: var(--gray500);
}

.line {
  width: 0.0437rem;
  height: 11rem;
  background-color: var(--gray900);
  margin-left: 2.875rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
}

/* hero section */

#hero-video {
  position: absolute;
  top: 0rem;
  width: 100%;
  border-radius: 1.25rem;
  height: auto;
  overflow-x: hidden;
  z-index: -20;
}

.separator-1 {
  width: 80%;
  height: 3.125rem;
  background-color: var(--gray50);
  position: absolute;
  right: 0;
  top: 27.5rem;
  z-index: 10;
  border-radius: 6.25rem 3.75rem 0 0;
  box-shadow: -0.625rem -1.25rem 1.25rem rgba(0, 0, 0, 0.2);
}

#curv {
  position: absolute;
  top: 27.5rem;
  z-index: 12;
  left: 6.25rem;
}
.separator {
  width: 100%;
  height: 8.75rem;
  background-color: var(--gray50);
  position: absolute;
  top: 29.75rem;
  border-radius: 2.5rem 0 0 0;
  z-index: 3;
  box-shadow: -1.25rem -0.625rem 1.25rem rgba(0, 0, 0, 0.05);
}

.video-bg {
  position: relative;
}

.hero {
  grid-area: 1/2;
  position: relative;
  height: 37.5rem;
  z-index: -10;
}

h1 {
  font-family: var(--nova-bold), sans-serif;
  letter-spacing: 0.25rem;
  font-size: 4.5rem;
  color: var(--white);
  z-index: 1;
  position: absolute;
  margin-left: 6.25rem;
  top: 8.75rem;
  opacity: 0.9;
  text-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
    0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  line-height: 1.3;
}

.hero-span {
  font-family: var(--roboto), sans-serif;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.9;
  text-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
    0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.filled {
  font-family: var(--roboto), sans-serif;
  color: var(--gray900);
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.0813rem;
  background-color: rgba(243, 244, 246, 0.8);
  border-radius: 0.5rem;
  border: 0.0938rem solid var(--gray100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem 1rem 1.875rem;
  z-index: 10;
  position: absolute;
  top: 22.5rem;
  margin-left: 6.25rem;
  cursor: pointer;
}

/* ventures */

h2 {
  font-size: 3.125rem;
  font-family: var(--nova-wide);
  text-transform: uppercase;
  letter-spacing: 0.1375rem;
  color: var(--gray900);
}

.subhead {
  font-family: var(--roboto), sans-serif;
  color: var(--gray700);
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  text-align: center;
  margin: 1rem 1.5rem;
}

.venture-text {
  margin-top: 1.5rem;
  text-align: center;
}

/* venture-slider */

.brand-tabs {
  margin: 5rem 0 0 2.5rem;
  width: 90%;
  display: flex;
  gap: 8.75rem;
  align-items: center;
  cursor: pointer;
  overflow: auto;
}

.slider-img1 {
  border-radius: 0.25rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.2) 67.63%
    ),
    url(./asset/blue-medicint.png) lightgray 50% / cover no-repeat;
  max-width: 76.8125rem;
  height: 36.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.slider-img2 {
  border-radius: 0.25rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/pancake.jpg) lightgray 50% / cover no-repeat;
  max-width: 76.8125rem;
  height: 36.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.slider-img3 {
  border-radius: 0.25rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/party.jpg) lightgray 50% / cover no-repeat;
  max-width: 76.8125rem;
  height: 36.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.slider-img4 {
  border-radius: 0.25rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/event.jpg) lightgray 50% / cover no-repeat;
  max-width: 76.8125rem;
  height: 36.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.slider-img5 {
  border-radius: 0.25rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.24%,
      rgba(0, 0, 0, 0.6) 67.63%
    ),
    url(./asset/edge.jpg) lightgray 50% / cover no-repeat;
  max-width: 76.8125rem;
  height: 36.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

#next,
#previous {
  border: 0.0625rem solid rgb(220, 220, 220);
  background-image: radial-gradient(var(--white), rgb(236, 241, 252));
  border-radius: 100%;
  padding: 1.5rem;
  box-shadow: 0.0625rem 0rem 0.625rem rgba(0, 0, 0, 0.05),
    0.0625rem 0rem 0.625rem rgba(0, 0, 0, 0.04);
}
.move {
  display: flex;
  padding: 1.5rem 2.5rem;
  justify-content: space-between;
}

h3 {
  font-size: 2.5rem;
  font-family: var(--nunito);
  color: var(--gray50);
}

.opac-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.0813rem;
  background-color: rgba(243, 244, 246, 0.2);
  border-radius: 0.125rem;
  border: 0.0938rem solid var(--gray100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem 1rem 1.875rem;
  cursor: pointer;
}

.opac-btn:hover {
  background-color: rgba(243, 244, 246, 0.6);
  color: var(--gray900);
}

.logo-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12.5rem 0 0 2.5rem;
}

#tab-bar2 {
  margin-left: 15rem;
}

#tab-bar3 {
  margin-left: 30.625rem;
}

#tab-bar4 {
  margin-left: 45.625rem;
}

#tab-bar5 {
  margin-left: 61.25rem;
}

.slider-wrapper {
  position: relative;
  max-width: 76.8125rem;
  overflow-x: hidden;
}

/* about section */

article {
  margin-top: 6.25rem;
  position: relative;
}

#about-tab {
  width: 26.25rem;
}

.top-left {
  background-image: url("./asset/building1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 60%;
  height: 32.8125rem;
  border-radius: 0.25rem;
}

#about-h2 {
  position: absolute;
  top: -0.875rem;
}

.top-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.lead {
  font-family: var(--nunito), sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray800);
  letter-spacing: 0.0813rem;
}

.about-text {
  font-family: var(--roboto), sans-serif;
  font-size: 1.25rem;
  color: var(--gray500);
  line-height: 2rem;
  font-weight: 300;
}

.first-article {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 5rem;
}

.bottom-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.bottom-right {
  width: 40%;
  height: 32.6875rem;
  background-image: url("./asset/building-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.25rem;
}

/* meet our team */

#wassim {
  width: 33%;
  height: 25rem;
  background-image: url("./asset/low\ DSC00199.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem 0.25rem 0 0;
}

#layla {
  width: 33%;
  height: 25rem;
  background-image: url("./asset/business\ woman1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem 0.25rem 0 0;
}

#hassan {
  width: 33%;
  height: 25rem;
  background-image: url("./asset/business\ man2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem 0.25rem 0 0;
}

.name {
  font-family: var(--roboto), sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0875rem;
  color: var(--gray900);
  font-weight: 600;
  margin: 1.5rem 0rem;
}

.title {
  font-family: var(--roboto), sans-serif;
  font-size: 1.5rem;
  color: var(--gray700);
}

.team-card {
  border-bottom: 0.0313rem solid var(--gray400);
  border-radius: 0.25rem;
  padding-bottom: 1.5rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team-grid {
  display: flex;
  gap: 1rem;
  margin: 5rem 0 6.25rem 0;
}

#meet-h2 {
  text-align: center;
}

/* our values */

.card-stack {
  position: relative;
}

.value-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 22.875rem;
}

.item {
  font-family: var(--roboto), sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0938rem;
  color: var(--gray800);
  font-weight: 400;
  padding: 0 0.625rem 0.625rem 0;
  border-bottom: 0.0625rem solid var(--gray900);
  cursor: pointer;
}

.item2 {
  font-family: var(--roboto), sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0938rem;
  color: var(--gray400);
  font-weight: 400;
  padding: 0 0.625rem 0.625rem 0;
  border-bottom: 0.0625rem solid var(--gray900);
  cursor: pointer;
}

.item:hover,
.item2:hover {
  color: var(--gray900);
}

.value-card {
  background-image: url("./asset/mark-only.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 110% 20%;
  background-blend-mode: soft-light;
  max-width: 84.1875rem;
  height: 24.75rem;
  background-color: var(--gray900);
  position: relative;
  border-radius: 0.25rem;
  cursor: pointer;
}

.value-card2 {
  background-image: url("./asset/mark-only.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 110% 20%;
  background-blend-mode: soft-light;
  max-width: 84.1875rem;
  height: 24.75rem;
  background-color: var(--gray800);
  position: relative;
  border-radius: 0.25rem;
  cursor: pointer;
}

.card-text {
  color: var(--white);
  font-family: var(--nunito), sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.outlined-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--gray900);
  letter-spacing: 0.0813rem;
  border-radius: 0.125rem;
  border: 0.0938rem solid var(--gray100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem 1rem 1.875rem;
  cursor: pointer;
}

.outlined-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.outlined-btn2 {
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--gray700);
  letter-spacing: 0.0813rem;
  border-radius: 0.125rem;
  border: 0.0938rem solid var(--gray100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem 1rem 1.875rem;
  cursor: pointer;
}

.card-text-btn {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

/* .menu-card {
  display: flex;
  margin: 2.5rem 0 10rem 0;
} */

.value-card-set {
  display: flex;
  flex-direction: column;
}

.item-cards {
  display: flex;
  margin: 2.5rem 0 10rem 0;
}

/* #card-line {
  margin-top: 3.5rem;
  width: 4.375rem;
  border-bottom: 0.0625rem solid var(--gray50);
}

#card-line2 {
  width: 4.375rem;
  border-bottom: 0.0625rem solid var(--white);
  position: absolute;
  top: 9.125rem;
}

#card-line3 {
  width: 4.375rem;
  border-bottom: 0.0625rem solid var(--gray50);
  position: absolute;
  top: 14.75rem;
}

#card-line4 {
  width: 4.375rem;
  border-bottom: 0.0625rem solid var(--white);
  position: absolute;
  top: 20.3125rem;
} */

#value1 {
  z-index: 12;
  opacity: 1;
}

#value2 {
  display: none;
}

#value3 {
  display: none;
}

#value4 {
  display: none;
}

/* join our team */

.career-header {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 59.13%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./asset/meeting.jpg") lightgray 0rem -21.9022rem / 100% 316.023% no-repeat;
  height: 16.25rem;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0.25rem;
  margin-top: 18.75rem;
}

#career-h2 {
  margin-top: -3.5rem;
  font-size: 2.5rem;
}

.career-text {
  font-family: var(--nunito), sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
  text-align: center;
  width: 80%;
  margin: 3.125rem auto;
}

.company {
  font-family: var(--roboto), sans-serif;
  font-size: 0.875rem;
  color: var(--gray700);
}

.logo-name {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: 5rem;
}

.career-title {
  font-family: var(--roboto), sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.0938rem;
  color: var(--gray900);
  height: 2.5rem;
}

.job-description {
  font-family: var(--roboto), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray700);
  margin-top: 1.5rem;
  height: 9.375rem;
}

.tab {
  font-family: var(--roboto), sans-serif;
  font-size: 1rem;
  color: var(--gray500);
  border: 0.0625rem solid var(--gray500);
  border-radius: 0.5rem;
  padding: 0.625rem;
}

.three-tabs {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-bottom: 2rem;
}

.black-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0813rem;
  background-color: var(--gray900);
  border-radius: 0.125rem;
  border: 0.0938rem solid var(--gray100);
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem 1rem 1.875rem;
  cursor: pointer;
}

.black-btn:hover {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.375rem rgba(0, 0, 0, 0.05);
  font-size: 1.1875rem;
  transition: all 0.4s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.career-card {
  width: 20rem;
  border: 0.0625rem solid var(--gray400);
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
}

.career-card:hover {
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.375rem rgba(0, 0, 0, 0.05);
  border: 0.0625rem dashed var(--gray400);
}

.career-slider {
  display: inline-flex;
  gap: 1.5rem;
  margin: 2.5rem 1.5rem 6.25rem 0rem;
}

.slider-wrapper {
  width: 100%;
  overflow: auto;
  cursor: pointer;
}

/* contact us */

.horizontal-line {
  height: 0.0313rem;
  width: 30%;
  background-color: var(--gray400);
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

#contact-h2 {
  font-size: 40px;
}

.farhould {
  font-family: var(--nunito), sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--gray800);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.head-office {
  font-family: var(--nunito), sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--gray700);
  margin-top: 0.625rem;
}

.kingdom {
  color: var(--gray500);
  font-size: 1.25rem;
}

.info-left {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem 0 0;
}

.info-text {
  font-family: var(--roboto), sans-serif;
  font-size: 1.25rem;
  color: var(--gray600);
  letter-spacing: 0.075rem;
  cursor: pointer;
}

.info-text:hover {
  color: var(--gray500);
}

.icon-text {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.general {
  font-family: var(--roboto), sans-serif;
  font-size: 0.875rem;
  color: var(--gray500);
  margin-bottom: 0.25rem;
}

.info-right {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2.5rem;
  border-left: 0.0313rem solid var(--gray400);
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 5rem 0 6.25rem 0;
}

/* contact form */

.specific {
  font-family: var(--roboto), sans-serif;
  font-size: 2rem;
  letter-spacing: 0.0875rem;
  color: var(--gray700);
  margin-top: 2.5rem;
}

.asap {
  font-size: 1.125rem;
  color: var(--gray400);
  font-weight: 300;
  letter-spacing: 0.075rem;
  margin-top: 1rem;
}

.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

/* contact form */

label {
  font-size: 1rem;
  color: var(--gray500);
  letter-spacing: 0.1rem;
}

input {
  background-color: var(--white);
  border: 0.0625rem solid var(--gray400);
  height: 5rem;
  width: 37.5rem;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
}

textarea {
  background-color: var(--white);
  border: 0.0625rem solid var(--gray400);
  width: 37.5rem;
  height: 10rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

::placeholder {
  color: var(--gray400);
  opacity: 0.4;
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
}

small {
  color: var(--red);
}

.submit-btn {
  font-family: var(--roboto), sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.0813rem;
  background-color: var(--gray900);
  border-radius: 0.25rem;
  max-width: 37.5rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.375rem rgba(0, 0, 0, 0.05);
  margin: 3.5rem 0 6.25rem 0;
}

.submit-btn:hover {
  background-color: var(--gray700);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#check {
  width: 5rem;
  padding: 1.5rem;
  border-radius: 100%;
  background: var(--white);
  border-radius: 100%;
  box-shadow: 0.0625rem 0rem 0.625rem rgba(0, 0, 0, 0.05),
    0.0625rem 0rem 0.625rem rgba(0, 0, 0, 0.04);
  margin-top: -4rem;
}

.thanks {
  text-align: center;
  font-size: 1.25rem;
  color: var(--gray500);
  font-family: var(--nova-wide), sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1625rem;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

.thankyou-modal {
  display: none;
  flex-direction: column;
  max-width: 50rem;
  width: 100%;
  padding: 1.5rem 2.5rem;
  background: var(--white);
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0.0625rem 0rem 0.625rem rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}

/* footer */

footer {
  background-color: var(--gray900);
  width: 100%;
  height: 23.75rem;
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  align-items: center;
  gap: 1.5rem;
}

.footer-ul {
  color: var(--gray50);
  list-style: none;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-menu {
  display: flex;
  gap: 6.25rem;
  align-items: flex-start;
}

.social {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
}

#footer-logo {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--gray800);
}

/* mobile header */

.mobile-header {
  z-index: 60;
  width: 100%;
  display: none;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.dropdown {
  height: 100vh;
  width: 12.5rem;
  z-index: 400;
  font-size: 0.875rem;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 0 0 0.625rem 0.625rem;
  position: absolute;
  right: 0;
  box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.05),
    0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.1);
}

#close {
  text-align: right;
  cursor: pointer;
}

/* responsive  */

@media (min-width: 93.125rem) {
  .separator {
    height: 15rem;
  }
  .venture-text {
    margin-top: 7.5rem;
  }
}

@media (max-width: 80rem) {
  .hero {
    height: 31.25rem;
  }

  h1 {
    top: 6.25rem;
    font-size: 3.125rem;
  }
  .filled {
    top: 18.75rem;
  }
  h2 {
    font-size: 3rem;
  }
  .separator {
    display: none;
  }
  .separator-1 {
    display: none;
  }
  #curv {
    display: none;
  }

  .logo-txt {
    width: 80%;
  }
}

@media (max-width: 58.125rem) {
  main {
    width: 90%;
  }

  aside {
    grid-area: 1/1/3/3;
  }
  header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
  .tab-vector {
    display: none;
  }

  h3 {
    font-size: 2rem;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 50%;
  }

  .card-text {
    font-size: 1.875rem;
    font-weight: 600;
  }
  .horizontal-line {
    display: none;
  }
}

@media (max-width: 43.75rem) {
  main {
    width: 96vw;
  }
  h1 {
    font-size: 2.375rem;
    top: 6.25rem;
  }

  .filled {
    top: 15.625rem;
  }
  .subhead {
    text-align: left;
    font-size: 1.125rem;
  }
  .brand-tabs {
    margin-top: 2.5rem;
    overflow: scroll;
    gap: 2rem;
  }
  .top-left {
    background-image: url("./asset/building1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 32.8125rem;
    border-radius: 0.25rem;
  }
  .bottom-right {
    display: none;
  }

  #about-h2 {
    position: absolute;
    top: -0.875rem;
  }

  .top-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .lead {
    font-family: var(--nunito), sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--gray800);
    letter-spacing: 0.0813rem;
  }

  .about-text {
    font-family: var(--roboto), sans-serif;
    font-size: 1.25rem;
    color: var(--gray500);
    line-height: 2rem;
    font-weight: 300;
  }

  .first-article {
    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;
  }

  .bottom-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .bottom-right {
    width: 100%;
    height: 32.6875rem;
    background-image: url("./asset/building-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 0.25rem;
  }

  .team-card {
    width: 100vw;
    align-items: center;
  }
  .team-grid {
    flex-direction: column;
    gap: 2.5rem;
  }

  #wassim,
  #layla,
  #hassan {
    width: 90vw;
    margin: 0 auto;
  }

  .career-slider {
    margin-top: 2.5rem;
  }
  .info-left {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .info-right {
    border-left: none;
    margin: 1rem auto;
    padding: 0;
  }
  .item,
  .item2 {
    border-bottom: none;
    font-size: 1.5rem;
  }

  .specific {
    text-align: center;
  }

  .info-wrapper {
    flex-direction: column;
    gap: 2.5rem;
  }
  .asap {
    text-align: center;
    width: 80%;
  }
  input {
    width: 90vw;
  }
  textarea {
    width: 90vw;
  }
  .footer-ul {
    display: none;
  }
  footer {
    height: 12.5rem;
  }
}

@media (max-width: 35.625rem) {
  h1 {
    top: 2.5rem;
    font-size: 2rem;
  }
  .hero-span {
    font-size: 1.25rem;
  }
  .filled {
    background-color: var(--gray900);
    color: var(--white);
    padding: 1.5rem;
    right: 0;
    font-size: 1rem;
    font-weight: 500;
  }
  #hero-icon {
    display: none;
  }
  .hero {
    height: 21.25rem;
  }
  h2 {
    font-size: 1.875rem;
  }

  .subhead {
    display: none;
  }

  .logo-txt {
    padding-top: 6.25rem;
  }
  .slider-img1,
  .slider-img2,
  .slider-img3,
  .slider-img4,
  .slider-img5 {
    height: 27.5rem;
  }

  #value-title {
    text-align: center;
  }

  .value-items {
    width: 100%;
    flex-direction: row;
    overflow: auto;
  }
  .item-cards {
    flex-direction: column;
    gap: 1.5rem;
  }

  #career-h2 {
    margin-top: -6.25rem;
    text-align: center;
  }

  .career-header {
    background: none;
    height: 9.375rem;
  }
  .career-text {
    color: var(--gray700);
    font-size: 1.125rem;
    width: 100%;
    font-weight: 500;
    line-height: 2rem;
  }
  .slider-wrapper {
    margin-top: 0rem;
  }

  .head-office {
    font-size: 1.25rem;
  }
  .farhould {
    font-size: 1.75rem;
  }

  input {
    height: 3.5rem;
  }
}
